html {
	overflow: hidden;

	body {
		margin-right: -20px;
		overflow-y: scroll;
	}
}

body, html, #frame {
	height: 100%;
}

#frame {
	padding: 0;

	#content {
		margin: 0px 16px 0px 0px;
	}
}

#scrollbar {
	position: absolute;
	top: 60px;
	right: 10px;
	bottom: 10px;
	width: 2px;
	background: #eee;
	.transition(opacity 0.5s ease-out);

	&.translucent {
		opacity: 0.2;

		#pagination {
			opacity: 0;
		}
	}

	#pagination {
		position: absolute;
		right: 0%;
		text-align: right;
		margin-right: 8px;
		font-size: 11px;
		top: 0%;
		padding: 5px;
		white-space: nowrap;
		background: #333;
		color: white;

		.transition(opacity 0.5s ease-out);
	}
}

#scrollbar .handle {
	width: 100%;
	height: 100px;
	background: #292a33;
	cursor: pointer;
}

#scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	left: -15px;
	width: 30px;
	height: 100%;
}