html.paginated {
	overflow: hidden;
}

body, html, #frame {
	height: 100%;
}

#frame {
	padding: 0;
}

#content {
	margin: 0;
}

#scrollbar {
	position: absolute;
	top: 60px;
	right: 10px;
	bottom: 10px;
	width: 2px;
	background: #eee;
}

#scrollbar .handle {
	width: 100%;
	height: 100px;
	background: #292a33;
	cursor: pointer;
}

#scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	left: -15px;
	width: 30px;
	height: 100%;
}