html, body {
	overflow: hidden;
	width: 100%;
}

html, body, #frame {
	height: 100%;
	overflow-x: hidden;
}

body {
	padding-top: 0px;
	
	#frame {
		padding-top: 70px; // moved BS padding-top on body to #frame - mobile
		overflow-x: hidden;
		overflow-y: scroll;

		margin-right: -20px;
	}

	&.paginating {
		.user-select(none);

		#scrollbar {
			z-index: 1001;

			#pagination {
				color: @btn-info-color;
				background: @btn-info-bg;
				border-color: @btn-info-border;
			}
		}
	}
}

#scrollbar {
	position: absolute;
	top: 60px;
	right: 10px;
	bottom: 10px;
	width: 2px;
	background: #eee;
	.transition(opacity 0.5s ease-out);

	&.translucent {
		opacity: 0.2;

		#pagination {
			opacity: 0;
		}
	}

	#pagination {
		position: absolute;
		right: 0%;
		text-align: right;
		margin-right: 8px;
		font-size: 11px;
		top: 0%;
		padding: 5px;
		white-space: nowrap;
		background: @gray-dark;
		color: white;
		border: 1px solid;
		border-color: @gray-dark;

		.transition(all 0.5s ease-out);
	}
}

#scrollbar .handle {
	width: 100%;
	height: 100px;
	background: #292a33;
	cursor: pointer;

	max-height: 200px;
	min-height: 25px;
}

#scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	left: -18px;
	width: 30px;
	height: 100%;
}