.account {
	margin-top: 200px;

	.cover {
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 200px;
		position: relative;
		margin-bottom: 1em;
		background-origin: content-box;
		width: 100%;
		top: 50px;
		position: absolute;
		left: auto;
		right: 0px;

		&:hover {
			.controls {
				.opacity(0.8);
			}
		}

		.controls {
			text-align: center;
			min-height: 200px;
			line-height: 200px;
			.opacity(0);
			.transition(opacity .15s linear);
			cursor: pointer;
			pointer-events: none;

			> * {
				pointer-events: all;
			}

			.fa {
				color: white;
				background-color: #333;
				opacity: 1;
				margin: 15px;
				padding: 5px;
			}
		}

		&.active {
			&:hover {
				cursor: move;
			}

			.controls {
				> * {
					display: none;
				}
			}

			.save {
				display: inline-block;
			}
		}

		&.saving {
			.save {
				display: none;
			}

			.indicator {
				display: inline-block;
			}
		}

		.save, .indicator {
			display: inline-block;
			position: absolute;
			top: 1em;
			right: 2em;
			opacity: 1;
			background-color: @brand-primary;
			color: #eee;
			padding: 0.5em;
			font-weight: bold;

			&:hover {
				cursor: pointer;
			}
		}

		.save {
			display: none;
		}

		.indicator {
			display: none;
		}
	}

	@media (min-width: @screen-md-min) {
		margin-top: 300px;
		
		.cover {
			min-height: 300px;

			.controls {
				min-height: 300px;
				line-height: 300px;
			}
		}
	}
	
	.show-success {
		.form-control {
			border-color: #5cb85c;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
			padding-right: 2.25rem;
		    background-repeat: no-repeat;
		    background-position: center right .625rem;
		    -webkit-background-size: 1.25rem 1.25rem;
		    background-size: 1.25rem 1.25rem;
		}
		
		.form-feedback {
			color: #5cb85c;
			display: block;
			margin-top: .25rem;
		}
	}
	
	.show-danger {
		.form-control {
			border-color: #d9534f;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
			padding-right: 2.25rem;
		    background-repeat: no-repeat;
		    background-position: center right .625rem;
		    -webkit-background-size: 1.25rem 1.25rem;
		    background-size: 1.25rem 1.25rem;
		}
		
		.form-feedback {
			color: #d9534f;
			display: block;
			margin-top: .25rem;
		}
	}

	[component="account/moderation-note/list"] .icon {
		margin-right: 10px;
	}
}





// 
.nav-pills.account-sub-links {
	border:none;

	> li {
		float:right;
	}
}

.account-picture-block{
	vertical-align:top;
	margin-bottom:20px;

	div {
		margin-bottom: 10px;
	}

	.dropdown-toggle {
		cursor: pointer;
	}

	.status {
		padding-bottom: 5px;
	}
}

.user-profile-picture {
	.user-icon-style(128px, 7.5rem, 50%);
}

.user-picture-label {
	font-size:20px;
}


.account-bio-label{
	display:block;
	font-size:14px;
	opacity:0.8;
}

.account-bio-value {
	display:block;
	margin-bottom:10px;
	font-size:18px;
}


.account-username-box {
	margin-bottom:10px;

	.open #profile {
		background-color: lighten(@brand-primary, 10%);
	}
}

.account-username{
  font-size:20px;
  font-weight:bold;
}


.account-stats {
	.formatted-number, .human-readable-number {
		font-size:30px;
	}

	.account-bio-label {
		font-size:16px;
		width:100px;
	}
}

.picture-switcher {
	img, .user-icon {
		.user-icon-style(46px, 2.4rem, 50%);
	}

	@media (max-width: @screen-sm) {
		img, .user-icon {
			display: none;
		}
	}

	h4 {
		line-height: 46px;
		margin: 0;
	}
}

.page-user-info {
	.recent-flags {
		padding-left: 0;

		li {
			list-style-type: none;
		}

		.title {
			font-weight: bold;
		}

		.timestamp {
			font-size: 1.25rem;
			font-style: italic;
			color: @gray-light;
		}
	}

	.ban-history {
		padding-left: 0;

		li {
			list-style-type: none;
		}

		.timestamp {
			font-weight: bold;
		}

		.expiry {
			font-size: 1.25rem;
			font-style: italic;
			color: @gray-light;
		}
	}
}