// Make chats page edge-to-edge
.page-user-chats {
	padding-top: 50px;

	#content.container {
		width: auto;
		padding: 0;
	}

	.navbar {
		margin-bottom: 0;
	}

	[widget-area="header"], [widget-area="footer"] {
		display: none;
	}
}

/* Styles common to both full chat and chat modal */
.chats-full, .chat-modal {
	display: flex;
	flex-wrap: nowrap;

	[component="chat/nav-wrapper"] {
		flex: 1;
		flex-direction: column;
		box-shadow: 0 3px 9px rgba(0,0,0,.5);

		.chats-list {
			flex: 1;
			overflow-y: auto;
			margin-bottom: 0;
			height: ~"calc(100% - 3em)";
		}

		.chat-search {
			background-color: @panel-default-heading-bg;
			border-bottom: 1px solid @gray-dark;

			input {
				background-color: @panel-default-heading-bg;
				border-radius: 0;
				border: none;
				height: ~"calc(3em - 1px)";
			}

			ul {
				width: 100%;
			}
		}

		[component="chat/search/list"] {
			padding: 0px;

			li {
				clear: both;
				list-style-type: none;
				padding: 0.5em;
				.pointer;
			}

			.user-icon, img {
				width:24px;
				height:24px;
				line-height:24px;
				font-size: 1.5rem;
				margin-left: 0.5em;
				margin-right: 0.5em;
			}
		}
	}

	[component="chat/main-wrapper"] {
		flex: 3;

		.alert {
			margin: 1em;
		}
	}

	[component="chat/messages"] {
		display: flex;
		flex-direction: column;
		height: 100%;

		.chat-content {
			flex: 1;
		}
	}

	[component="chat/header"] {
		padding: @panel-heading-padding;
		background-color: @panel-default-heading-bg;
		border-bottom: 1px solid @gray-dark;

		span {
			font-weight: 500;
		}

		.close {
			margin-left: 0.5em;
		}

		.members {
			a {
				font-weight: 600;
				color: @gray-dark;
			}
		}

		.dropdown {
			.avatar {
				margin-right: 0.5em;
			}
		}
	}

	.modal-header .dropdown {
		.avatar {
			margin-right: 0.5em;
		}
	}

	[component="chat/composer"] {
		display: flex;
		position: relative;

		[component="chat/input"] {
			flex: 1;
			background: none;
			box-shadow: none;
			border: 0;
			border: 1px solid @gray-lighter;
			border-radius: 0;
		}

		[data-action="send"] {
			width: 5em;
			height: 100%;
		}

		[component="chat/message/remaining"] {
			position: absolute;
			float: right;
			right: 5.25em;
			z-index: 2;
			bottom: 0;
			color: @gray-light;
		}
	}
}

.chats-list {
	padding: 0;
	max-height: 608px;
	overflow-x: hidden;
	overflow-y: auto;

	li {
		clear: both;
		list-style-type: none;
		padding: 0.5em;
		.pointer;

		&.typing {
			span:after {
				visibility: visible;
			}
		}

		&.unread {
			.bg-variant(@state-warning-bg);
		}

		span {
			&:after {
				display: inline-block;
				font-family: "FontAwesome";
				content: "\f11c";
				margin-left: 0.5em;
				visibility: hidden;
			}
		}

		a {
			.text-ellipsis;
		}

		p {
			margin: 0;
		}

		.user-img {
			width:24px;
			height:24px;
			line-height:24px;
			font-size: 1.5rem;
			margin-left: 0.5em;
		}

		.leave {
			opacity: 0.5;
			&:hover {
				opacity: 1.0;
			}
		}

		.members {
			padding-left: 1rem;
			margin-bottom: 0.5rem;

			li {
				display: inline-block;
				width: 16px;
				padding: 0;
				margin: 0;
			}
		}
	}
}

/* Chat modal specific styles */
.chat-modal {
	.modal-header {
		padding: 0.25em 1em;

		h4 {
			font-size: 1.5rem;
			font-weight: bold;

			i {
				font-size: 14px;
				vertical-align: center;

				&.fa-keyboard-o {
					.animation(topic-reply-pulse 2s ease-in infinite);
				}
			}
		}

		.close {
			padding: 0.5em;
		}

		.users-tag-container span:only-of-type [data-role="remove"] {
			display: none;
		}
	}

	.modal-body {
		display: flex;
		flex-direction: column;
		height: 400px;

		.chat-content {
			flex: 1;
		}
	}
}

.expanded-chat, .chat-modal {
	.chat-content {
		.fix-lists;
		overflow-y: auto;
		overflow-x: hidden;
		resize: none;
		word-wrap: break-word;
		padding: 1rem;

		li.chat-message {
			list-style-type: none;
			font-weight: 300;
			transition: opacity .5s ease;

			&[data-break="true"] {
				margin-top: 7px;
			}

			&.deleted {
				opacity: 0.3;

				.controls {
					[data-action] {
						display: none;
					}

					[data-action="restore"] {
						display: inline;
					}
				}
			}

			.chat-user-image {
				width: 20px;
				height: 20px;
				line-height: 20px;
				font-size: 1rem;
			}

			.chat-timestamp {
				color: darkgrey;
				min-width: 60px;
				display: inline-block;
				text-align: right;
				.user-select(none);
			}

			.message-body {
				margin-left: 14px;
				clear: both;
				overflow-y: hidden;

				p {
					margin: 7px 0 0 0;
					line-height: 2rem;
				}
			}

			&[data-self="0"] + [data-self="0"], &[data-self="1"] + [data-self="1"] {
				&[data-break="false"] {
					.message-header {
						display: none;
					}
				}
			}

			.controls {
				display: none;

				[data-action="restore"] {
					display: none;
				}
			}

			&:hover {
				.controls {
					display: block;
				}
			}
		}
	}

	.user-typing {
		margin-top: -1.5em;
		.opacity(0.5);
	}

	.selected[data-since] {
		font-weight: bold;
	}

	.modal-dialog {
		margin: 0 auto;
	}

	textarea {
		resize: none;
	}

	.since-bar {
		display: block;
		padding: 1rem 0;
		text-align: center;
	}
}

[component="chat/manage-modal"] {
	.list-group-item .avatar {
		border-radius: 0;
		margin-right: 1em;
	}

	div+span {
		margin: -4px;
	}
}

/* Mobile handling of chat page */
@media (max-width: @screen-sm) {
	.page-user-chats {
		padding-bottom: 0;

		[component="chat/nav-wrapper"][data-loaded="1"] {
			display: none;
		}

		[component="chat/nav-wrapper"][data-loaded="0"] + [component="chat/main-wrapper"] {
			display: none;
		}
	}

	[data-action="pop-out"] {
		display: none;
	}
}