html[data-dir="rtl"] {
	@import (less) "./bootstrap-flipped.css";

	.home {
		h4 {
			text-align: right;
		}
	}

	.container {
		#main-nav {
			float: right !important;
		}

		#logged-in-menu, #logged-out-menu {
			float: left !important;
		}
	}

	[component="chat/list"] {
		.avatar-placeholder, .main-avatar {
			right: 0;
			left: auto;
		}

		.room-name, .teaser-content {
			padding-right: 80px;
			padding-left: 0;
			text-align: right;
		}

	}

	[component="chat/composer"] {
		[component="chat/message/remaining"] {
			right: auto;
			left: 5.25em;
		}

		[data-action="send"] {
			transform: scale(-1, 1);
		}
	}

	.chats-full [component="chat/header"] .dropdown .avatar, .chat-modal [component="chat/header"] .dropdown .avatar {
		margin-right: 0;
		margin-left: 0.5em;
	}

	.chats-list > li .teaser-content, .chats-list > li .room-name {
		padding-left: 0;
		padding-right: 80px;
	}

	.chats-list > li {
		.avatar-placeholder, .main-avatar {
			left: auto;
			right: 0;
		}

		.members {
			right: 53px;
			left: auto;
			padding-left: 0;
			padding-right: 1rem;
		}
	}
}